# Dependências do Node.js
node_modules/

# Arquivos de saída do Parcel
dist/

# Cache do Parcel
.cache/
.parcel-cache

# Arquivos de log
*.log

# Variáveis de ambiente
.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações específicas do editor
.vscode/